include README.md
include Dockerfile Dockerfile.dev docker-compose.yml .dockerignore
graft docs
graft assets
graft scripts
graft src
prune src/**/__pycache__
global-exclude __pycache__/*
global-exclude *.py[cod]
